@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    border: 0;  
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgb(255, 255, 255, 0);
    -webkit-text-size-adjust: 100%;
}

*:root{
    --nav-list-color: rgb(255, 255, 255);
    --nav-icon: rgb(214, 104, 227);
    --cardin-green: rgb(12, 26, 26);
    --box-shadow: 0 0.3rem 0.8rem rgba(226, 228, 231, 0.6);
    --about-title: #0a090a;
    --r: rgb(255, 0, 0);
    --g: rgb(0, 128, 0);
    --outline-color-focus: gray;
    --GrayishBlue: hsl(229, 8%, 60%);
}

/*primary section*/

.pri-header-con{
    position: fixed;
    height: 4rem;
    background: chocolate;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
}
.pri-joam{
    font-family: 'comfortaa', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--nav-list-color);
}
.pri-home-btn{
    border: 1px solid var(--nav-list-color);
    padding: .5rem 1rem;
    color: green;
    font-family: 'comfortaa', cursive;
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 700;
    background-color: var(--nav-list-color);
    border-radius: .1rem;
}
.primary-welcome-section{
    padding: 2rem;
    background: rgb(236, 224, 224, .4);
}
.pri-wel-con{
    margin-top: 4rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    background: var(--nav-list-color);
    box-shadow: var(--box-shadow);
}
.pri-misvis{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pri-vis-con{
    padding: 1rem;
}
.pri-vis-box{
    margin: 3rem 0;
}
.pri-heading{
    text-align: center;
    padding: 1rem;
    font-family: 'comfortaa', cursive;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--r);
}
.pri-article{
    padding: .5rem;
    font-family: 'comfortaa', cursive;
    text-transform: capitalize;
    line-height: 2rem;
}
.pri-wel-img{
    position: relative;
    height: 30rem;
    overflow: hidden;
}
.pri-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edu-sec-title{
    position: absolute;
    color: var(--nav-list-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-transform: uppercase;
    background: rgb(8 8 8 / .5);
    isolation: isolate;
    font-family: 'comfortaa', cursive;
}
.motto{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'comfortaa', cursive;
    color: red;
    text-transform: capitalize;
}
#typed-text{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3rem;
}

@media (max-width:768px) {
    .pri-heading{
        font-size: .8rem;
    }
    .pri-article{
        font-size: .8rem;
    }
    .pri-wel-img{
        height: 25rem;
    }
    .edu-sec-title{
       font-size: 1.2rem;
    }
    .motto{
        font-size: 1.2rem;
    }
    #typed-text{
        font-size: .8rem;
    }
}

@media (max-width:615px) {
    .pri-header-con{
        padding: 0 .5rem;
    }
    .pri-home-btn{
        font-size: .8rem;
        padding: .5rem;
    }
}

@media (max-width:541px) {
    .pri-header-con{
        padding: 0 .5rem;
    }
    .pri-home-btn{
        font-size: .6rem;
        padding: .4rem;
    }
    .pri-vis-box{
        margin: 1rem 0;
    }
    .pri-heading{
        font-size: .7rem;
    }
    .pri-article{
        font-size: .7rem;
        line-height: 1.5rem;
    }
    .pri-wel-img{
        height: 20rem;
    }
    .edu-sec-title{
        font-size: 1rem;
     }
     .motto{
         font-size: .9rem;
     }
     #typed-text{
         font-size: .7rem;
     }
}
@media (max-width:375px) {
    .pri-joam{
        font-size: .7rem;
    }
    .pri-home-btn{
        font-size: .55rem;
        padding: .3rem;
    }
    .primary-welcome-section{
        padding: 1rem;
    }
    .pri-vis-box{
        margin: .5rem 0;
    }
    .pri-wel-con{
        padding: 0;
    }
    .pri-wel-img{
        height: 15rem;
    }
    #typed-text{
        top: 1.5rem;
    }
}
@media (max-width:320px) {
    .pri-home-btn{
        font-size: .5rem;
        padding: .2rem;
    }
}