@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Clicker+Script&family=Rajdhani:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    border: 0;  
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Rajdhani;
    scroll-behavior: smooth;
    text-decoration: none;
}

*:root{
    --nav-tab: rgb(255, 255, 255);
    --bg-desktop-color: rgb(0, 0, 0);
    --nav-list-color: rgb(255, 255, 255);
    --nav-icon: rgb(214, 104, 227);
    --arrow-icon: rgb(255, 255, 0);
    --downy-teal: rgb(106, 207, 199);
    --cardin-green: rgb(12, 26, 26);
    --neon-blue: rgb(34, 114, 255);
    --bakers-chocolate: rgb(88, 44, 18);
    --medium-orchid-purple: rgb(214, 104, 227);
}

/*style for the page preloader starts here*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
    perspective: 800px;
}



.ring{
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    /*background-color: var(--bg-color);*/
    
}
.preloader .ring:nth-child(1){
    border-top: 7px solid blue;
    transform: rotateX(30deg) rotateY(300deg);
    animation: rotateFirst 1s linear infinite;
}
.ring:nth-child(2){
    border-left: 7px solid green;
    transform: rotateX(110deg) rotateY(10deg);
    animation: rotateSecond 1s linear infinite;
}
.ring:nth-child(3){
    border-bottom: 7px solid red;
    transform: rotateX(25deg) rotateY(55deg);
    animation: rotateThird 1s linear infinite;
}
@keyframes rotateFirst {
    to{
        transform: rotateX(30deg) rotateY(300deg) rotateZ(360deg);
    }
}
@keyframes rotateSecond {
    to{
        transform: rotateX(110deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotateThird {
    to{
        transform: rotateX(25deg) rotateY(55deg) rotateZ(360deg);
    }
}
/*style for the page preloader ends here*/

img{
    max-width: 100%;
}
.section_one{
    overflow: hidden;
    height: 100vh;
    background-image: url(LEAF.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.section_one[aria-details="farm-page"]{
    background-image: url(mountain-magic-hour.jpg);
    height: 100vh;
}
/*.background-picture-image{
    height: 100vh;
    top: 0;
    object-fit: cover;
    animation: zoom 3s linear infinite;

}*/
/*style the animation for the home page*/
/*@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}*/
/*style the navigation section*/
.nav__bar{
    position: fixed;
    top: 0;
    z-index: 50000;
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 1rem   ;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255 255 255 / .3);
    background-color: rgba(0 0 0 / .8);
    background-color: rgba(255, 255, 255, 0.5);
    
}
.addNavBarColor{
    background-color: rgba(0 0 0 / .85);
    border-bottom: 1px solid rgba(255 255 255 / .7);
}
.nav__list .joam{
    display: none;
}

/*style the hambugger for the navigation section*/
.hambugger{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: none;
    border-radius: .3rem;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--nav-list-color);
}


.hambugger .one{
    position: absolute;
    width: 2rem;
    height: .3rem;
    border-radius: 1px;
    background-color: var(--nav-list-color);
}
.hambugger .two{
    position: absolute;
    width: 2rem;
    height: .3rem;
    border-radius: 1px;
    transform:translateY(.5rem);
    background-color: var(--nav-list-color);
    rotate: 0deg;
}
.hambugger .three{
    position: absolute;
    width: 2rem;
    height: .3rem;
    background-color: var(--nav-list-color);
    border-radius: 1px;
    transform:translateY(-.5rem);
    rotate: 0deg;
}
.hambugger .one{
    transition: 150ms ease-in 150ms;
}
.hambugger[aria-controls = 'open'] .one{
    transform: translateY(0);
    transition: 150ms ease-in 150ms;
    opacity: 0;
}
.hambugger[aria-controls = 'open'] .two{
    transform: translateY(0);
    transition: 150ms 150ms ease-in;
    rotate: -45deg;
}
.hambugger[aria-controls = 'open'] .three{
    transform: translateY(0);
    transition: 150ms ease-in 150ms;
    rotate: 45deg;
}
 .hambugger .two, .hambugger .three{
    transition: 150ms ease-in;  
}

/*style the jaom logo writting on the navigation*/

.logo a h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--nav-list-color);
    text-transform: uppercase;
    
}

/*style the nav list on the navigation bar*/
.nav__list{
    display: flex;
}
.nav__list li{
    margin-inline-start: 1.3rem;
}
.nav__list li a{
    font-family: 'Orbitron', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: var(--nav-list-color);
}

/*style the font icon*/
.fa-solid{
    color: var(--medium-orchid-purple);
    padding-right: .5rem;
}
.fa-arrow-right{
    color: var(--medium-orchid-purple);
}

/*style the underline attributes of the navlinks*/
.list{
    position: relative;
}
.list::after{
    position: absolute;
    top: 130%;
    left: 0;
    bottom: 1.5rem;
    content: '';
    width: 0%;
    height: .2rem;
    border-radius: .3rem;
    background-color: var(--nav-list-color);
    transform-origin: left;
    transition: all ease-out .3s;
}
.active::after{
    width: 100%;
}
.list:hover::after{
    width: 100%;
}

/*style the welcome message on the home screen*/
.site_description{
    position: absolute;
    padding: 1rem;
    box-sizing: border-box;
    top: 5rem;
    margin: 1rem;
}
.welcomeMessage{
    display: block;
    color: var(--nav-list-color);
    font-family: 'Orbitron', sans-serif;
}
.welcomeMessage h1{
    padding-left: 1.3rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--medium-orchid-purple);
}

.welcomeMessage h2{
    font-family: 'Orbitron', sans-serif;
    width: 70%;
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: capitalize;
    background-color: rgba(0 0 0 / .3);
}
.welcomeMessage h3{
    width: fit-content;
    padding: .2rem;
    font-family: 'Orbitron', sans-serif;
    margin-top: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--medium-orchid-purple);
}
.welcomeMessage ul{
    margin: 0;
    padding: 0;
}
.welcomeMessage ul li{
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-block: 1rem;
    text-transform: capitalize;
    font-weight: 700;
}

/*style the services section that contains the different services rendered*/
.description{
    position: relative;
    padding-top: .5rem !important;
    background-color: rgb(250, 235, 215, .3);
    overflow: hidden;
}
.services-box-description{
    position: absolute;
    top: 1rem;
    color: var(--nav-list-color);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: .5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.more-details{
    position: absolute;
    width: 60%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--cardin-green);
    color: var(--nav-list-color);
    padding: 2rem 3rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 8rem white;
}
.services-pictures-container{
    position: relative;
    inset: 0;
    height: 40rem;
}
.services-box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.services-box-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceButton{
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 5rem;
    height: 5rem;
    transform: translateY(-50%);
    background: black;
}
.serviceButton i{
    font-size: 6rem;
}
.serviceButton--left{
    display: none;
    left: 1px;
}
.serviceButton--right{
    right: 1px;
}
.serviceButton .fa-greater-than, .serviceButton .fa-less-than{
    font-weight: 500;
    color: rgb(255, 255, 255);
}


/*style the features section: why choose us section*/
.features{
    margin: 1rem 0rem 0rem 0rem;
}
.reason{
    position: relative;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.choose-us{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}
.choose-us--features{
    font-size: 2rem;
    color: var(--arrow-icon);
    background: rgb(0, 0, 0, .36);
}
.choose-us--reason{
    font-size: 1.5rem;
}
.choose-us--joamfarm{
    margin: 1rem 0rem 2rem 0;
}
.choose-us--realestate{
    margin: 4rem 0rem 1rem 0;
}
.choose-us--realestate, .choose-us--joamfarm{
    color: var(--medium-orchid-purple);
}
article p{
    position: relative;
    background-color: var(--cnav-list-color);
    color: black;
    padding: 1rem;
    letter-spacing: .5px;
    text-transform: capitalize;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article p:not(.lastChild){
    margin-bottom: 6rem;
}
article p{
    box-shadow: 1px 0px 10px rgb(0, 0, 0, .36);
}

.read-more{
    display: none;
}
.fa-solid.icon{
    position: absolute;
    top: -6rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0;
    background: var(--nav-list-color);
    border: 1px solid none;
    border-radius: 50%;
    color: var(--medium-orchid-purple);
    box-shadow: 1px 0px 10px rgb(0, 0, 0, .36);
}


/*style the joam organogram section*/
.joam-organogram{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    align-items: center;
    height: 100%;
    gap: 2rem;
    padding: 1rem;
}
.joam-tree{
    background: white;
    box-shadow: 1px 1px 10px rgb(12, 26, 26, .3);
    padding: 2rem;
}
.joam-tree{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
}
.organogram-title{
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(214, 104, 227, .3);
}
.joam-tree ul{
    padding: 0;
    padding-top: 1.3rem !important;
    position: relative;
    transition: .5s;
}
.joam-tree li{
    display: inline-table;
    align-items: center;
    position: relative;
    padding: .5rem;
    transition: .5s;
}
.joam-tree li::before, .joam-tree li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid var(--cardin-green);
    width: 51%;
    height: .5rem;
}
.joam-tree li::after{
    right: auto;
    left: 50%;
    border-left: 2px solid var(--cardin-green);
}
.joam-tree li:only-child::before, .joam-tree li:only-child::after{
    display: none;
}
.joam-tree li:only-child{
    padding: 0;
}
.joam-tree li:first-child::before, .joam-tree li:last-child::after{
    border: 0 none;
}
.joam-tree li:last-child::before{
    border-right: 2px solid var(--cardin-green);
}
.joam-tree ul ul::before{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    border-right: 2px solid var(--cardin-green);
    height: 1.3rem;
}
.joam-tree div{
    display: inline-grid;
    place-items: center;
    padding: .5rem;
    transition: .5s;
    border: 1px solid white;
    background: white;
    box-shadow: 1px 1px 10px rgb(12, 26, 26, .2);
    cursor: pointer;
    transition: .5s;
}
.fa-user, .fa-users, .fa-user-tie, .house{
   font-size: 7rem;
   padding: .3rem 0;
   color: rgb(214, 104, 227, .7);

}
.joam-tree img{
    width: 10rem;
    height: 10rem;
    border: 1px solid none;
    margin-bottom: .5rem !important;
    margin: auto;
}
.joam-tree span{
    border: 1px solid var(--cardin-green);
    color: var(--cardin-green);
    font-weight: bold;
    border-radius: .2rem;
    padding: .4rem;
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

/*joam organogram hover section*/
.joam-tree li div:hover, .joam-tree li div:hover i, .joam-tree li div:hover span, .joam-tree li div:hover+ul li div{
    background: rgb(0, 0, 0, .36);
    color: var(--nav-list-color);
    border: 1px solid var(--nav-list-color);
    box-shadow: 0 0 0 -.7rem #5f5f5f;
}
.joam-tree li div:hover+ul li:after, .joam-tree li div:hover+ul li::before, .joam-tree li div:hover+ul::before, .joam-tree li div:hover+ul ul::before{
    border-color: #94a0b4;
}

/*style the swipper section*/
.slide__content{
    position: relative;
    inset: 0;
    margin: auto;
    height: 40rem;
    width: 95%;
    padding: 0;
    background: pink;
}
.slide-wrapper{
    position: relative;
    background-color: red;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.trackWay{
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}
.slide{
    position: absolute;
    background: var(--nav-icon);
    width: 100%;
    height: 100%;
    
}
.slide__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderButton{
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 5rem;
    height: 5rem;
    transform: translateY(-50%);
    background: var(--nav-list-color);
}
.sliderButton--left{
    display: none;
    left: 0;
}
.sliderButton--right{
    right: 0;
}
.sliderButton--left svg{
    transform: rotate(90deg);
}
.sliderButton--right svg{
    transform: rotate(270deg);
}
.footer-section{
    background: black;
    padding: .5rem;
    margin-top: 1rem;
}
.container{
    padding: 0;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    color: var(--nav-icon);
    padding: 1rem;
}
.col-md-3{
    width: fit-content;
}
.list-unstyled{
    padding: 0;
}

@media (max-width:990px) {
    .joam-organogram{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}
@media (max-width:782px) {
    .more-details{
        font-size: .88rem;
        padding: 1.2rem 0;
    }
}

@media (max-width:768px) {

    .nav__bar{
        z-index: 10000;
        transition: .7s all ease-out;
    }
    .addNavBarColor{
        background-color: rgba(0 0 0 / .8);
        border-bottom: 1px solid rgba(255 255 255 / .7);
    }
    .hambugger{
        position: fixed;
        display: flex;
        z-index: 10000;
        border: 1px solid transparent;
    }
    .hambugger .dash{
        background-color: var(--nav-list-color);
    }
    .logo__container{
        width: 100%;
        display: flex;
        justify-content: flex-end;  
    }
    .logo a h1{
        color: var(--nav-list-color);
    }
    .nav__list{
        position: fixed;
        left: 0;
        top: 5rem;
        width: 50%;
        height: 75vh;
        background-color: rgba(12, 26, 26, .95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-120%);
        transition: .5s;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        transform-origin: top;
        transform: scaleY(0);
    } 
    .active::after{
        display: none;
    }  
    .nav__list.navActive{
        transform: translateY(0);
        transform: scaleY(1);
    }
    .nav__list .joam{
        display: flex;
    }
    .nav__list .joam a{
        position: relative;
        color: var(--medium-orchid-purple);
        text-transform: uppercase;
        font-size: 1rem;
    }
    
    .nav__list li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: 3rem;
        margin-inline-end: 3rem;
        font-size: 100%;
        color: var(--nav-list-color);
        letter-spacing: 2px;
        font-weight: bold;
        font-size: .8rem;
        text-transform: lowercase;
    }
    .welcomeMessage h1{
        color: var(--nav-list-color);
        -webkit-text-stroke: 1px black;
        font-size: 2rem;
    }
    .welcomeMessage h2{
        font-size: 1rem;
        margin-top: 2rem;
    }
    .welcomeMessage h3{
        font-size: .8rem;
        margin-top: 1rem;
    }
    .welcomeMessage ul li{
        padding-top: .5rem;
        margin-block: .5rem;
    }
    .serviceButton, .serviceButton{
        width: 4rem;
        height: 4rem;
    }
    .fa-user, .fa-users, .fa-user-tie, .house{
        font-size: 4rem;
        padding: .3rem 0;
     
     }
    .slide__content{
        height: 20rem;
    }
    .sliderButton{
        width: 4rem;
        height: 4rem;
    }
}
@media (max-width:700px) {
    .nav__list li a{
        font-size: .8rem;
    }
    .welcomeMessage h1{
        font-size: 1.7rem;
    }
    .welcomeMessage h2{
        font-size: .9rem;
        width: 80%;
    }
    .welcomeMessage h3{
        background-color: rgba(0 0 0 / .3);
    }
    .welcomeMessage ul li{
        font-size: 1rem;
        background-color: rgba(0 0 0 / .3);
        width: fit-content;
    }
}
@media (max-width:690px) {
    .description{
        margin-top: .5rem;
    }
    .choose-us--features{
        font-size: 1.5rem;
    }
    .choose-us--reason{
        font-size: 1.1rem;
        padding-top: 1.3rem;
    }
    .choose-us--joamfarm, .choose-us--realestate{
        font-size: .9rem;
        width: 70%;
        inset: 0;
        margin: auto;
        text-align: center;
    }
    .row>:first-child{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .row>:nth-child(2){
        grid-column-start: 6;
        grid-column-end: 9;
    }
    .row>:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 9;
    }
    .col-md-3  a{
        color: var(--nav-list-color);
        font-size: .8rem;
    }
}
@media (max-width:546px) {
    .nav__bar{
        height: 3.5rem;
    }
    .nav__list{
        top: 3.5rem;
    }
    .logo a h1{
        font-size: 1.3rem;
    }
    .hambugger{
        border: none;
    }
    .hambugger .dash{
        width: 1.7rem;
        height: .2rem;
    }
    
    .nav__list li a{
        font-size: .7rem;
    }
    /*.section_one{
        height: 80vh;
    }*/
    .welcomeMessage h1{
        padding: 0;
        font-size: 1.2rem;
    }
    .welcomeMessage h2{
        font-size: .75rem;
        width: 100%;
    }
    .welcomeMessage h3{
        font-size: .8rem;
    }
    .welcomeMessage ul li{
        font-size: .8rem;
    }
    article p{
        font-size: .8rem;
        line-height: 1.5rem;
    }
    .services-pictures-container{
        height: 30rem;
    }
}
@media (max-width:510px) {
    .nav__list{
        width: 70%;
    }
    .nav__list .joam a{
        font-size: .8rem;
    }
    .joam-organogram{
        display: flex;
        flex-direction: column;
    }
    .joam-tree{
        padding: 0rem;
    }
    .joam-tree img{
        width: 100%;
        width: 5rem;
        height: 5rem;
    }
    .joam-tree span{
        width: 100%;
        font-size: .6rem;
    }
    .row>:nth-child(2){
        grid-column: span 3;
    }
    .row>:nth-child(3){
        grid-column: span 2;
    }
}

@media (max-width:425px) {
    .section_one{
        height: 70vh;
    }
    .welcomeMessage h3{
        font-size: .7rem;
        background-color: rgba(0 0 0 / .5);
    }
    .welcomeMessage ul li{
        font-size: .8rem;
    }
    .services-pictures-container{
        height: 25rem;
    }
    .choose-us--reason{
        font-size: .9rem;
        padding-bottom: 2rem;
    }
    .read-more{
        display: flex;
        align-self: flex-end;
    }
    .fa-sharp{
        color: var(--medium-orchid-purple);
    }
    article p{
        text-align: center;
        font-size: .8rem;
        line-height: 1.5rem;
    }

    /*hide part of the information that describes the joam real estate*/
    .extended-paragraph{
        display: none;
        transform: scaleY(0);
        transform-origin: top;
        transition: .5s;
    }
    .extended-paragraph.showExtended-paragraph{
        display: flex;
        transform: scaleY(1);
    }
    .fa-user, .fa-users, .fa-user-tie, .house{
        font-size: 3rem;
    }
    .serviceButton i{
        font-size: 5rem;
    }
    .slide__content{
        height: 15rem;
    }
    .sliderButton, .serviceButton{
        width: 3.8rem;
        height: 3.8rem;
    }
    .sliderButton svg{
        position: absolute;
        inset: 0;
        margin: auto;
    }
    .row>:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 9;
    }
}
@media (max-width:416px) {
    .site_description{
        margin-top: 0;
    }
    .welcomeMessage h1{
        margin: 0;
    }
}
@media (max-width:375px) {
    .services-pictures-container{
        top: 100%;
    }
    .more-details{
        font-size: .8rem;
        padding: .6rem 3rem;
        text-transform: uppercase;
    }
    .services-box-description{
        font-size: 1rem;
    }
    .choose-us--joamfarm, .choose-us--realestate{
        font-size: .7rem;
        width: 70%;
    }
    .sliderButton, .serviceButton{
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media (max-width:320px) {
    .welcomeMessage h2{
        line-height: 1.4rem;
    }
    .services-pictures-container{
        height: 23rem;
    }
    .sliderButton{
        width: 3rem;
        height: 3rem;
    }
}
